// main: style.scss

// About
.about {
  color: #DCDCDC;
  background-color: #333B46; //2a3439

  .about-text {
    h2 {
      padding: 4px 0 4px 0;
      color: #fff;
    }

    img {
      height: 40.8px;
      width: 40.8px;
      vertical-align: middle;
      float: left;
    }

    p {
      line-height: 160%;
    }
  }
}
