// main: style.scss

// Fullscreen landing page
.jumbotron {
  height: 100%;
  margin-bottom: 0;
  //background-image: url("assets/img/night.png"); // For night.png
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/taipei.jpg");
  background-attachment: fixed;
  //background-size: cover + 1px; // For night.png
  background-size: cover; // For taipei.jpg
  background-position: 55% 92%;
  display: flex;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 110px; // 180px for Allura
    font-family: "Offside", cursive; // For neon
    color: #fff;
    //font-weight: bold; // For Allura
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fffb1a, 0 0 20px #fffb1a, 0 0 35px #fffb1a, 0 0 40px #fffb1a;
  }

  p, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .hobbies {
    //margin-top: -35px; // For night.png
    margin-bottom: 50px;
  }
}

.more-button {
  position: absolute;
  padding-top: 40px;
  bottom: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;

  a {
    font-size: 16px;
    text-decoration: none;
    padding-top: 40px;
    color: #fff;
    transition: color .3s;

    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      box-sizing: border-box;
      transition: border-color .3s;
    }
  }
}

a:hover {
  color: #7ebbff;

  span {
    border-color: #7ebbff;
  }
}

@media (max-width: 1200px) {
  .jumbotron .content {
    h1 {
      font-size: 80px; // 120px for Allura
    }

    p {
      font-size: 16px;
    }

    .more-button a {
      font-size: 14px;
    }
  }
}

@media (max-width: 540px) {
  .jumbotron .content {
    h1 {
      font-size: 47px; // 65px for Allura
    }

    p {
      font-size: 15px;
    }

    .hobbies {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 70px;
    }
  }
}
