// main: style.scss

// Project page
.project-main {
  font-family: 'Open Sans', sans-serif;
  background-color: #DCDCDC;
  color: #292e30;
}

.projects-intro {
  margin-top: 48.8px;
  background-color: #1B1B1D;

  h1 {
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.gallery {
  height: 550px;
  background: #000;
}

.project-info {
  background-color: #2f3538;
  padding: 10px 0;

  ul {
    list-style: none;
    margin: 10px 0;

    li {
      margin: 12px 0;
      color: #DCDCDC;

      strong {
        color: #7ebbff;
      }
    }
  }
}

.detail {
  margin-bottom: 100px;
  line-height: 160%;

  .project-line {
    margin: 20px 0;
    border-color: #2f3538;
  }

  a {
    color: #7ebbff;
    text-decoration: none;
  }

  ul li {
    list-style-position: inside;
  }
}

// Expense Logger
.icon {
  width: 120px;
  height: 120px;
}

.install {
  color: #DCDCDC;

  h4 {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .install-button-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;

    .install-expense-logger {
      border-color: #00AA8D;
      border-width: 2px;
      border-radius: 4px;
      background-color: #2f3538;
      color: #fff;
      transition: background-color 0.2s ease-out;
    }

    .install-expense-logger:hover {
        background-color: #00AA8D;
    }

    .install-expense-logger:active, .install-expense-logger:focus {
      box-shadow: none;
    }
  }
}

@media only screen and (min-width: 992px) {
  .projects-intro {
    margin-top: 48.4px;
  }
}
