// main: style.scss

// Projects
.projects {
  background-color: #DCDCDC; //F7F7F7
  padding-bottom: 64px !important;

  .current {
    color: #333B46;
  }

  .portfolio {
    padding: 0;
  }
}

.portfolio-col {
  padding: 15px;
}

.top-col {
  padding-top: 5px;
}

.box {
  position: relative;
  height: 250px;
  transition: transform 0.2s ease-in-out;
}

.box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.text-box {
  background-color: #000;
}

.image {
  opacity: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;

  .title {
    font-size: 24px;
  }

  .line {
    border-top: 1px solid #DCDCDC;
    margin-top: 16px;
  }

  .description {
    font-size: 15px;
  }
}

.bohred-atoms-image {
  object-position: 50% 69%;
}

.expense-logger-image {
  object-position: 50% 10%;
}
