// General
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Metropolis', sans-serif;
}

h2 {
  font-weight: 600;
}

p {
  margin: 16px 0;
}

.blue-link {
  color: #7ebbff !important;
}

.blue-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.dark-blue-link {
  color: #2e92ff !important;
}

.dark-blue-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.main {
  .section {
    padding-top: 70px;
    padding-bottom: 54px;
  }

  .light {
    color: #6c6c6c;
  }
}

.pop-out-box {
  margin: 25px 20px 12px 20px;
  border: solid;
  border-width: 2px;
  display: none;

  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Sketchfab embeds
.left-model {
  margin: 8px 16px 16px 0;
}

.right-model {
  margin: 8px 0 16px 16px;
}

// Fonts
@font-face {
    font-family: "Metropolis";
    src: url("../assets/fonts/metropolis/Metropolis-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Metropolis";
    font-weight: bold;
    src: url("../assets/fonts/metropolis/Metropolis-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Metropolis";
    font-weight: bold;
    font-style: italic;
    src: url("../assets/fonts/metropolis/Metropolis-SemiBoldItalic.otf") format("opentype");
}

@import 'navbar';
@import 'landing-page';
@import 'about';
@import 'skills';
@import 'work-experience';
@import 'projects';
@import 'extracurricular-activities';
@import 'hackathons';
@import 'projects-page';
@import 'footer';
