// General
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: 600;
}

p {
  margin: 16px 0;
}

.blue-link {
  color: #7ebbff !important;
}

.blue-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.dark-blue-link {
  color: #2e92ff !important;
}

.dark-blue-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.main {
  font-family: 'Open Sans', sans-serif;
  background-color: #DCDCDC;

  .section {
    padding-top: 100px;
    padding-bottom: 84px;
  }
}

.pop-out-box {
  margin: 30px 20px 12px 20px;
  border: solid;
  border-width: 2px;
  display: none;

  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@import 'navbar';
@import 'landing-page';
@import 'about';
@import 'experiences';
@import 'projects';
@import 'projects-page';
@import 'footer';
