* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

p {
  margin: 16px 0;
}

// Navigation bar
.navbar {
  padding: 0 1% 0 2%;
  background-color: rgba(23, 22, 24, 0.92);
  transition: background-color 0.3s ease-out;

  .logo {
    font-family: "Allura", cursive;
    color: #7ebbff;
    font-size: 25px;
    font-weight: bold;
  }

  .logo:hover {
    color: #7ebbff;
  }

  .navbar-toggler {
    color: #fff;
  }

  .collapse .nav {
    margin-right: 50px;

    .nav-item {
      .nav-link {
        padding: 13px 17px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
      }

      .nav-link:hover {
        color: #7ebbff;
      }

      .hover-bg:hover {
        background-color: #000;
      }
    }
  }
}

.main-navbar {
  background-color: rgba(23, 22, 24, 0);
}

// Fullscreen landing page
.jumbotron {
  height: 100%;
  margin-bottom: 0;
  background-image: url("assets/img/night.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 92%;
  display: flex;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 180px;
    font-family: "Allura", cursive;
    color: #7ebbff;
    font-weight: bold;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .hobbies {
    margin-top: -35px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1200px) {
  .jumbotron .content {
    h1 {
      font-size: 120px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 730px) {
  .jumbotron .content {
    h1 {
      font-size: 65px;
    }

    p {
      font-size: 16px;
    }

    .hobbies {
      font-size: 13px;
      margin-top: 10px;
      margin-bottom: 70px;
    }
  }
}

// About
.section {
  padding-top: 100px;
  padding-bottom: 84px;
}

.about {
  color: #DCDCDC;
  background-color: #2a3439;
}

.about-text {
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 4px 0 4px 0;
    color: #fff;
    font-weight: bold;
  }

  img {
    height: 40.8px;
    width: 40.8px;
    vertical-align: middle;
    float: left;
  }

  p {
    line-height: 160%;

    a {
      color: #7ebbff !important;
    }

    a:hover {
      cursor: pointer;
    }
  }

  #gamesList {
    margin: 30px 20px 12px 20px;
    border: solid;
    border-width: 2px;
    display: none;

    p {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

// Projects
.main {
  font-family: 'Open Sans', sans-serif;
  background-color: #DCDCDC;
}

.projects {
  padding-bottom: 75px;

  h2 {
    font-weight: bold;
  }

  .current {
    color: #2a3439;
  }
}

.box {
  position: relative;
  height: 250px;
  margin: 25px 0;
  transition: transform 150ms ease-in-out;
}

.box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.text-box {
  background-color: #000;
}

.image {
  opacity: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;

  .title {
    font-size: 20px;
  }

  .line {
    border-top: 1px solid #fff;
    margin-top: 16px;
  }

  .description {
    font-size: 15px;
  }
}

.bohred-atoms-image {
  object-position: 50% 69%;
}

// Project page
.project-main {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: #DCDCDC;
  color: #292e30;
}

.projects-intro {
  margin-top: 47.2px;
  background-color: #1B1B1D;

  h1 {
    color: #fff;
    padding: 10px 20px;
    font-size: 38px;
  }
}

.gallery {
  padding: 1% 0;
  max-width: 880px;
  height: 550px;
  background: #000;
  margin: 0 auto;
}

.project-info {
  background-color: #2f3538;
  max-width: 880px;
  padding: 10px 0;
  margin: 0 auto;
  overflow: hidden;

  ul {
    width: 31%;
    list-style: none;
    margin: 10px 2%;
    float: left;

    li {
      margin: 12px 0;
      color: #DCDCDC;

      strong {
        color: #7ebbff;
      }
    }

    .bohred-atoms-widget {
      float: right;
      margin: auto 0;
    }
  }
}

.detail {
  max-width: 880px;
  margin: 30px auto 100px auto;
  line-height: 160%;

  a {
    color: #7ebbff;
    text-decoration: none;
  }
}

.project-line {
  margin: 30px 0;
  border-color: #2f3538;
}

@media only screen and (min-width: 992px) {
  .projects-intro {
    margin-top: 48.4px;
  }
}

// Footer
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/img/night.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 92%;
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;

  img {
    width: 200px;
    height: 200px;
  }

  .info {
    padding-top: 70px;
    padding-bottom: 50px;

    h2 {
        font-weight: bold;
        margin-bottom: 35px;
    }

    p {
      color: #DCDCDC;
    }
  }

  .links {
    margin-top: 20px;

    .footer-link {
      color: #7ebbff;
    }

    .footer-link + .footer-link {
      margin-left: 20px;
    }
  }

  .copyright {
    text-align: center;
    color: #DCDCDC;
    margin-bottom: 20px;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.fa:hover {
  opacity: 0.8;
}

.project-footer {
  margin: 0;
}
